@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Slabo+27px&display=swap');

body{
    font-family: "Noto Serif", serif;
    background-attachment: fixed;
    background-image: url(../assets/bg.jpeg);
    min-height: 98vh;
    position: relative;
}

html, head, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}

img.logo{
    width: 50vw;
    min-width: 400px;
    max-width: 750px;
    max-height: 135px;
    border-radius: 100px;
    margin-top: 0px;
    padding-top: 0px;
    transition: all 1s;
    overflow-x: clip;
    z-index:1;
}

img.logo:hover{
    backdrop-filter: hue-rotate(25deg);
    width: calc(50vw - 10px);
}

.header{
    background-color: #16850b;
    width: 100%;
    height: 125px;
    position: sticky;
    top: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 1;
    overflow: clip;
}




.flex{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: clip;
}

.top ul{
    display: flex;
}

li{
    list-style-type: none;
    transition: all 1s;
}

.top li{
    margin-left: 1vw;
    border-right: 1px solid black;
    padding: 1vw;
}



@media only screen and (max-width: 1200px) {
    .top{
        display: none;
    }

}

@media only screen and (min-width: 1201px) {
    .left{
        display: none;
    }
    .button{
        display: none;
    }
}


.button{
    float: left;
    width: 125px;
    height: 125px;
    position: relative;
    z-index: 1;
}

.button::after{
    border-radius: 100px;
    position: absolute;
    left: 25px;
    top: 25px;
    content: "";
    background-color: white;
    width: 75px;
    height: 10px;
    display: block;
    box-shadow: white 0px 32.5px 0px;
    transition: all 1s;
}

.button::before{
    border-radius: 100px;
    position: absolute;
    left: 25px;
    top: 90px;
    content: "";
    background-color: white;
    width: 75px;
    height: 10px;
    display: block;
    box-shadow: white 0px -32.5px 0px;
    transition: all 1s;
}

nav.left ul{
    transition: transform .5s;
    
}

.button:hover ul{
    transform: translateX(0px) translateY(105px);
}

.button ul{
    height: 300px;
    width: 215px;
    transform: translateX(-275px)  translateY(105px);
    background-color: #2d941f;
}

.button ul li a{
    display: block;
    width: 100%;
    height: 100%;
    margin-left: -40px;
    padding: 15px;
    border-bottom: #16850b 2px dashed;
}

.button:hover::after{
    transform: translateY(32px) rotateZ(45deg);
    box-shadow: none;
}

.button:hover::before{
    transform: translateY(-32px) rotateZ(-45deg);
    box-shadow: none;
}




nav li:hover{
    text-shadow: black 2px 2px 2px;
    font-size: large;
}


.top ul li{
    border-radius: 100px 0 0 100px;
}

.top ul li:hover{
    backdrop-filter: hue-rotate(25deg);
    
}

@media only screen and (max-width: 525px){
    picture{
      margin-left: -50px;
      overflow-x: hidden;
    }
}

footer{
    font-size: large;
    display: grid;
    place-items: center;
    margin-top: 100px;
    width: 100%;
    height: 125px;
    background-color: #16850b;
    position: absolute;
    bottom: 0px;
    
}
footer p{
    color: #96c288;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}


.zoom{
    transition: all 0.5s;
}

.zoom:hover{
    box-shadow: 15px 15px 5px black;
    transform: perspective(2500px) translateZ(100px) translateY(-15px) translateX(-15px);
    cursor: zoom-in;
}
