
main{
    display: grid;
    place-items: center;
    border-bottom: 150px solid rgba(0, 0, 0, 0);
}

img.mapa_pc{
    width: 700px;
    margin-top: calc(10vh - 55px);
    backdrop-filter: blur(3px);
    border-radius: 35px;
}

img.mapa_tel{
    display: none;
    width: 250px;
    margin-top: 25px;
    backdrop-filter: blur(5px);
    border-radius: 35px;
}

@media only screen and (max-width: 750px){
    img.mapa_pc{
        display: none;
    }

    img.mapa_tel{
        display: block !important;
    }

    main{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    footer{
        position: static;
        margin-top: 0px;
    }
}

@media only screen and (max-height: 605px){
    footer{
        position: static;
        margin-top: -50px;
    }
}