main{
    display: flex;
    justify-content: center;
}

article{
    width: 16vw;
    margin: 25px;
    background-color: #16850b;
    border-radius: 25px;
    padding: 10px;
    border: #006f00 3px solid;
    min-width: 200px;
    min-height: 225px;
    text-align: center;
    transition: all .5s;
    box-shadow: 5px 5px 5px black;
    transform: perspective(2500px) translateZ(25px);
    font-size: x-large;
    font-weight: bold;
}

article:hover{
    box-shadow: 10px 10px 10px black;
    transform: perspective(2500px) translateZ(50px) translateY(-5px) translateX(-5px);
}



article img{
    width: 15vw;
    min-width: 150px;
    min-height: 150px;
    border-radius: 10px;
    border: #006f00 3px solid;
    filter: saturate(125%);
    margin-left: 0;
    margin-right: 0;   
}

@media only screen and (max-width: 820px){
    main{
        display: grid;
        place-items: center;
    }
    footer{
        position: static !important;
    }
}